VITE_PRYSM_BASE_URL=http://localhost:3000/api/v1
VITE_AUTH0_DOMAIN=
VITE_AUTH0_CLIENT_ID=
VITE_AUTH0_AUDIENCE=
PORT=8787
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_AUDIENCE=
AUTH0_TOKEN_VAULT_URL=
AUTH0_M2M_CLIENT_ID=
AUTH0_M2M_CLIENT_SECRET=
PRYSM_BASE_URL=http://localhost:3000/api/v1
PRYSM_API_KEY=
